<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>some things about me</title>
	</head>
	<body>
		{{> header}}
		<p>{{screamIt welcomeMessage}}</p>
		{{> footer}}
	</body>
</html>