<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>some things about me</title>
	</head>
	<body>
		<h1>maintenance mode</h1>
		<p>we'll be back soon</p>
		{{> footer}}
	</body>
</html>